#button{
    background-color: goldenrod;
    border:1px solid lightblue;
    border-radius: 07px;
}
#button:hover{
    background-color: orange;
    
}

.navTitle{
    font-size: 35px;
    font-weight: bolder;
    color: goldenrod;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.me-4{
    color: rgb(95, 2, 2);
    padding: 5px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 21px;
}