
#footer{
    background-color: rgb(1, 16, 29);
    margin-top: 30px;
}
#footer-li{
    color: rgb(238, 252, 246);
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}
#footer-address{
    color: white;
    
}
